Source: redmine-bundle
Section: apps
Priority: optional
Maintainer: Jan Matejka <yac@blesmrt.net>
Build-Depends: ruby, rubygems, ruby1.8-dev
Standards-Version: 3.7.3

Package: redmine-bundle
Architecture: any
Depends: ruby, ruby-pg, rubygems1.8
Suggests: ruby-pg, ruby-sqlite3, ruby-mysql, ruby-rmagick 
Description: redmine 2 bundled with gems
